input{
    border-radius: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(122, 121, 121, 0.418);
}

select{
    background: transparent;
    padding: 5px;
    border: 10px;
    border-radius: 5px;
}

select > option {
    background: white;
  }

option:hover,
option:focus,
option:active,
option:checked{
    background-color: rgb(189, 184, 184);
}